.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
terraform.tfstate.backup
terraform.tfstate.back*
__pycache__
.pytest_cache
helpfulresponse.md
terraform.tfstate.1702914810.backup
